<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Residente"
          #txtBuscar
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">
              Total de Residentes: ({{residentsData.totalResidents}})
            </h4>
            <h6 class="card-subtitle">
              Residentes registrados en la aplicación
            </h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary" (click)="addResident()"  >
                <i class="fa fa-plus-circle"></i>
                Crear Residente
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th >Cédula</th>
                <th >Nombre</th>
                <th ># Casa</th>
                <th >Estado</th>
                <th class="w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let resident of residentsData.residents" >
                  <td >{{resident.identificacion}}</td>
                  <td >{{resident.nombre | titlecase}}</td>
                  <td >{{resident.casa}}</td>
                  <td >{{resident.estado? 'Activo':'Inactivo'}}</td>


                <td >
                  <a class="cursor" (click)="editResident(resident._id)" >
                    <i class="fa fa-pencil text-info"></i>
                  </a>

                  <a class="cursor" (click)="removeResident(resident._id)">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
